:root {
  --background-color: #F1F6F9;
}

@font-face {
  font-family: "Varela-Round", sans-serif;
  src: url(../font/VarelaRound-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Varela-Round", sans-serif;
}
* a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.abs {
  position: absolute;
}

.relative {
  position: relative;
}

.full {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.on-top {
  z-index: 100;
}

.display-none {
  display: none;
}

.borders {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-top: 0;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
  background-color: var(--background-color);
}

.borders-hover {
  transition: 0.3s;
}

.borders-hover:hover {
  cursor: pointer;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

/*   Flash Message   */
.flash {
  z-index: 9000;
  display: flex;
  justify-content: center;
  width: calc(100% - 24px);
  padding: 12px;
  border: 3px solid #864879;
  border-radius: 8px;
  color: #1F1D36;
  font-size: 18px;
  font-family: "Varela-Round", sans-serif;
}

body {
  background-color: var(--background-color);
}

header {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  box-shadow: 0px 0px 10px 10px var(--background-color);
}
header .logo-searchbar {
  height: 100%;
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header .logo-searchbar a {
  width: 250px;
  aspect-ratio: 5/1;
  cursor: pointer;
}
header .logo-searchbar a .logo {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
}
header .logo-searchbar .search {
  position: relative;
  display: flex;
  align-items: center;
}
header .logo-searchbar .search .searchbar {
  min-width: 100px;
  width: 500px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  border-radius: 4px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
}
header .logo-searchbar .search .search-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  opacity: 0.5;
}
header .notification-profile {
  height: 100%;
  width: 13%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header .notification-profile .notification-icon {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}
header .notification-profile .profile {
  position: relative;
  width: 100px;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
header .notification-profile .profile .profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header .notification-profile .profile .profile-picture img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: fill;
     object-fit: fill;
  height: 100%;
  width: 100%;
}
header .notification-profile .profile .profile-icon-box {
  width: 50px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .notification-profile .profile .profile-icon {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}
header .notification-profile .profile:hover {
  cursor: pointer;
}
header .notification-profile .profile:hover .dropdown,
header .notification-profile .profile:hover .dropdown:hover {
  display: flex;
}
header .notification-profile .profile .dropdown {
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
  width: 150px;
  height: auto;
  background-color: var(--background-color);
  position: absolute;
  transform: translate(-50px, 70px);
  transition: 0.2s;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
}
header .notification-profile .profile .dropdown .item {
  position: relative;
  overflow: hidden;
  width: calc(100% - 10px);
  height: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  transition: 0.3s;
}
header .notification-profile .profile .dropdown .item .item-link {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
header .notification-profile .profile .dropdown .item button.logout-link {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header .notification-profile .profile .dropdown .item button.logout-link:hover {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
}
header .notification-profile .profile .dropdown .item:hover {
  cursor: pointer;
  background-color: rgb(216, 216, 216);
}
header .notification-profile .profile .dropdown .item .item-icon {
  opacity: 0.5;
}
header .notification-profile .profile .dropdown .item .item-text {
  font-size: 15px;
  font-family: "Varela-Round", sans-serif;
}

.nav-left {
  position: fixed;
  left: 0;
  top: 100px;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color);
  width: 280px;
  gap: 20px;
  padding-top: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}
.nav-left .profile {
  width: 80%;
  height: auto;
  border-radius: 0 0 10px 10px;
  background-color: var(--background-color);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.nav-left .profile .personal-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  gap: 10px;
}
.nav-left .profile .personal-info .profile-picture {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.nav-left .profile .personal-info .profile-picture .activity {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #5AD95F;
  right: 0;
  top: 0;
}
.nav-left .profile .personal-info .profile-picture .avatar {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
}
.nav-left .profile .personal-info .name-rank {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  font-family: "Varela-Round", sans-serif;
}
.nav-left .profile .personal-info .name-rank p:nth-child(1) {
  font-size: 17px;
  font-weight: bold;
}
.nav-left .profile .personal-info .name-rank p:nth-child(2) {
  font-size: 12px;
  opacity: 0.5;
}
.nav-left .profile .stats {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  gap: 20px;
  padding-bottom: 15px;
}
.nav-left .profile .stats .member-since {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  font-family: "Varela-Round", sans-serif;
}
.nav-left .profile .stats .member-since p:nth-child(1) {
  font-size: 15px;
  opacity: 0.5;
}
.nav-left .profile .stats .member-since p:nth-child(2) {
  font-size: 12px;
}
.nav-left .profile .stats .posts {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  font-family: "Varela-Round", sans-serif;
}
.nav-left .profile .stats .posts p:nth-child(1) {
  font-size: 15px;
  opacity: 0.5;
}
.nav-left .profile .stats .posts p:nth-child(2) {
  font-size: 12px;
}
.nav-left .page-link {
  width: 80%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0 0 10px 10px;
  background-color: var(--background-color);
  margin-top: 20px;
  transition: 0.3s;
}
.nav-left .page-link .link {
  width: calc(100% - 30px);
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding-left: 30px;
  transition: 0.3s;
  font-family: "Varela-Round", sans-serif;
  margin-bottom: 12px;
}
.nav-left .page-link .link:hover {
  cursor: pointer;
  background-color: rgb(216, 216, 216);
}
.nav-left .page-link .link .link-icon {
  opacity: 0.5;
  transition: 0.3s;
  transform: rotate(0deg);
  background-color: transparent;
}
.nav-left .page-link .link .link-icon.rotated {
  transform: rotate(-90deg);
}
.nav-left .page-link .link .link-text {
  font-size: 16px;
  background-color: transparent;
}
.nav-left .page-link .category-list {
  position: relative;
  width: calc(100% - 60px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  transition: 0.3s;
  font-family: "Varela-Round", sans-serif;
  top: 0;
}
.nav-left .page-link .category-list .category {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding-left: 60px;
  margin-bottom: 12px;
  transition: 0.3s;
  overflow: hidden;
}
.nav-left .page-link .category-list .category:hover {
  cursor: pointer;
  background-color: rgb(216, 216, 216);
}
.nav-left .page-link .category-list .category .category-icon {
  opacity: 0.5;
}
.nav-left .page-link .category-list .category .category-text {
  font-size: 16px;
}
.nav-left .page-link .category-list.closed {
  max-height: 0px !important;
}
.nav-left .footer {
  width: 80%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  border-radius: 0 0 10px 10px;
  background-color: var(--background-color);
  margin-top: 20px;
  margin-bottom: 30px;
}
.nav-left .footer .footer-link {
  width: calc(100% - 30px);
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding-left: 30px;
  font-family: "Varela-Round", sans-serif;
  transition: 0.3s;
}
.nav-left .footer .footer-link .footer-icon {
  opacity: 0.5;
}
.nav-left .footer .footer-link .footer-text {
  font-size: 16px;
}
.nav-left .footer .footer-link:hover {
  cursor: pointer;
  background-color: rgb(216, 216, 216);
}
.nav-left .footer .rights {
  font-size: 9px;
  opacity: 0.5;
  margin-bottom: 10px;
  font-family: "Varela-Round", sans-serif;
}

.nav-right {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 150px;
  background-color: var(--background-color);
  top: 100px;
  margin-top: 30px;
  margin-right: 20px;
  overflow-y: auto;
  scrollbar-width: none;
}
.nav-right .nav-right-container {
  width: calc(100% - 4px);
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0 0 10px 10px;
  background-color: var(--background-color);
}
.nav-right .nav-right-title {
  font-size: 20px;
  font-family: "Varela-Round", sans-serif;
  opacity: 0.5;
}
.nav-right .all-tags {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}
.nav-right .all-tags .tag {
  width: 60%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px;
  padding: 5px 12px;
  transition: 0.3s;
}
.nav-right .all-tags .tag .tag-link {
  font-size: 15px;
  font-family: "Varela-Round", sans-serif;
}
.nav-right .all-tags .tag:hover {
  cursor: pointer;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.template-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: calc(100% - 515px);
  margin-top: 120px;
  left: 270px;
  padding: 20px;
  z-index: 1;
}

.center-page {
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.center-page:hover {
  cursor: pointer;
}
.center-page .container {
  width: 425px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  cursor: default;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}
.center-page .container .login {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 20px;
}
.center-page .container .login .login-title {
  font-size: 30px;
  font-family: "Varela-Round", sans-serif;
  margin-bottom: 20px;
}
.center-page .container .login .input-fields {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.center-page .container .login .input-fields label {
  display: none;
}
.center-page .container .login .input-fields .input {
  width: calc(75% - 20px);
  height: 20px;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "Varela-Round", sans-serif;
}
.center-page .container .login .input-fields .input:focus {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
.center-page .container .login .submit {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.center-page .container .login .submit .classic-link {
  font-family: "Varela-Round", sans-serif;
  font-size: 10px;
  margin-top: 20px;
  align-self: flex-start;
  font-style: italic;
}
.center-page .container .login .submit .classic-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.center-page .container .login .submit .button {
  width: 100%;
  height: 40px;
  font-family: "Varela-Round", sans-serif;
  font-weight: 500;
  font-size: 17px;
}
.center-page .container .login .submit .button:hover {
  cursor: pointer;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
.center-page .container .separation {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-page .container .separation .line {
  width: 40%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}
.center-page .container .separation .or {
  font-family: "Varela-Round", sans-serif;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.5;
}
.center-page .container .switch {
  width: 75%;
  height: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Varela-Round", sans-serif;
  font-weight: 500;
  font-size: 17px;
}
.center-page .container .switch:hover {
  cursor: pointer;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.blur-underlay {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.bottom-outset {
  margin-bottom: 30px !important;
}

.top-outset {
  margin-top: 30px !important;
}

textarea.description {
  height: 200px !important;
  resize: none;
  scrollbar-width: thin;
}/*# sourceMappingURL=base.css.map */