:root {
    --background-color: #F1F6F9;
}

@font-face {
    font-family: Varela-Round;
    src: url(../font/VarelaRound-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        color: #000000;
        cursor: pointer;
    }
}

.borders {
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.2);
    border-right: 2px solid rgba($color: #000000, $alpha: 0.2);
    border-left: 2px solid rgba($color: #000000, $alpha: 0.2);
    border-top: 0;
    box-shadow: 0px 3px 3px rgba($color: #000000, $alpha: 0.1);
    border-radius: 0 0 10px 10px;
    background-color: var(--background-color);
}

.borders-hover {
    transition: .3s;
}

.borders-hover:hover {
    cursor: pointer;
    box-shadow: 0px 4px 5px rgba($color: #000000, $alpha: 0.5);
}


body {
    background-color: var(--background-color);
}

header {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    box-shadow: 0px 0px 10px 10px var(--background-color);

    .logo-searchbar {
        height: 100%;
        width: 80%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 250px;
            height: auto;
        }

        .search {
            position: relative;
            display: flex;
            align-items: center;

            .searchbar {
                min-width: 100px;
                width: 500px;
                height: 40px;
                border: 1px solid rgba($color: #000000, $alpha: 0.5);
                padding-left: 10px;
                border-radius: 4px;
                box-shadow: 0px 3px 3px rgba($color: #000000, $alpha: 0.1);
                background-color: var(--background-color);
            }

            .search-icon {
                width: 30px;
                height: 30px;
                position: absolute;
                right: 10px;
                opacity: 0.5;
            }
        }
    }

    .notification-profile {
        height: 100%;
        width: 13%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .notification-icon {
            width: 30px;
            height: 30px;
            opacity: 0.5;
        }

        .profile {
            position: relative;
            width: 100px;
            height: 40px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            .profile-picture {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            .profile-icon-box {
                width: 50px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .profile-icon {
                width: 30px;
                height: 30px;
                opacity: 0.5;
                background-color: black;
            }

            .profile-icon-box:hover~.dropdown,
            .dropdown:hover {
                display: flex;
            }

            .dropdown {
                display: none;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 7px;
                width: 150px;
                height: auto;
                background-color: var(--background-color);
                position: absolute;
                transform: translate(-50px, 70px);
                transition: .2s;
                box-shadow: 0px 3px 3px rgba($color: #000000, $alpha: 0.1);
                border-bottom: 2px solid rgba($color: #000000, $alpha: 0.2);
                border-right: 2px solid rgba($color: #000000, $alpha: 0.2);
                border-left: 2px solid rgba($color: #000000, $alpha: 0.2);
                border-radius: 0 0 5px 5px;

                .item {
                    width: calc(100% - 10px);
                    height: 30px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    padding-left: 10px;
                    padding-bottom: 5px;
                    padding-top: 5px;
                    transition: .3s;

                    &:hover {
                        cursor: pointer;
                        background-color: rgb(216, 216, 216);
                    }


                    .item-icon {
                        opacity: 0.5;
                    }

                    .item-text {
                        font-size: 15px;
                        font-family: Varela-Round;
                    }

                }
            }
        }
    }
}

.nav-left {
    position: fixed;
    left: 0;
    top: 100px;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-color);
    width: 280px;
    gap: 20px;
    padding-top: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;

    .profile {
        width: 80%;
        height: auto;
        border-radius: 0 0 10px 10px;
        background-color: var(--background-color);
        border-bottom: 2px solid rgba($color: #000000, $alpha: 0.2);
        border-right: 2px solid rgba($color: #000000, $alpha: 0.2);
        border-left: 2px solid rgba($color: #000000, $alpha: 0.2);
        box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.5);

        .personal-info {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            margin-top: 10px;
            margin-left: 10px;
            gap: 10px;

            .profile-picture {
                position: relative;
                width: 50px;
                height: 50px;
                border-radius: 50%;

                .activity {
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: #5AD95F;
                    right: 0;
                    top: 0;
                }
                .avatar {
                    object-fit: cover;
                    object-position: center;
                    height: 100%;
                    width: 100%;
                }
            }

            .name-rank {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: flex-start;
                font-family: Varela-Round;

                p:nth-child(1) {
                    font-size: 17px;
                    font-weight: bold;
                }

                p:nth-child(2) {
                    font-size: 12px;
                    opacity: 0.5;
                }
            }
        }

        .stats {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            margin-top: 20px;
            margin-left: 10px;
            gap: 20px;
            padding-bottom: 15px;

            .member-since {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: flex-start;
                gap: 5px;
                font-family: Varela-Round;

                p:nth-child(1) {
                    font-size: 15px;
                    opacity: 0.5;
                }

                p:nth-child(2) {
                    font-size: 12px;
                }
            }

            .posts {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: flex-start;
                gap: 5px;
                font-family: Varela-Round;

                p:nth-child(1) {
                    font-size: 15px;
                    opacity: 0.5;
                }

                p:nth-child(2) {
                    font-size: 12px;
                }
            }
        }
    }

    .page-link {
        width: 80%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        border-radius: 0 0 10px 10px;
        background-color: var(--background-color);
        margin-top: 20px;
        transition: 0.3s;

        .link {
            width: calc(100% - 30px);
            height: 40px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 12px;
            padding-left: 30px;
            transition: .3s;
            font-family: Varela-Round;
            margin-bottom: 12px;

            &:hover {
                cursor: pointer;
                background-color: rgb(216, 216, 216);
            }

            .link-icon {
                opacity: 0.5;
                transition: .3s;
                transform: rotate(0deg);
                background-color: transparent;

                &.rotated {
                    transform: rotate(-90deg);
                }
            }

            .link-text {
                font-size: 16px;
                background-color: transparent;
            }
        }

        .category-list {
            position: relative;
            width: calc(100% - 60px);
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 10px;
            transition: 0.3s;
            font-family: Varela-Round;
            top: 0;


            .category {
                width: 100%;
                height: 30px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                gap: 12px;
                padding-left: 60px;
                margin-bottom: 12px;
                transition: .3s;
                overflow: hidden;

                &:hover {
                    cursor: pointer;
                    background-color: rgb(216, 216, 216);
                }

                .category-icon {
                    opacity: 0.5;
                }

                .category-text {
                    font-size: 16px;
                }
            }

            &.closed {
                max-height: 0px !important;
            }
        }
    }

    .footer {
        width: 80%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        border-radius: 0 0 10px 10px;
        background-color: var(--background-color);
        margin-top: 20px;
        margin-bottom: 30px;

        .footer-link {
            width: calc(100% - 30px);
            height: 40px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 12px;
            padding-left: 30px;
            font-family: Varela-Round;
            transition: .3s;

            .footer-icon {
                opacity: 0.5;
            }

            .footer-text {
                font-size: 16px;
            }

            &:hover {
                cursor: pointer;
                background-color: rgb(216, 216, 216);
            }
        }

        .rights {
            font-size: 9px;
            opacity: 0.5;
            margin-bottom: 10px;
            font-family: Varela-Round;
        }
    }
}

.nav-right {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 150px;
    background-color: var(--background-color);
    top: 100px;
    margin-top: 30px;
    margin-right: 20px;
    overflow-y: auto;
    scrollbar-width: none;

    .nav-right-container {
        width: calc(100% - 4px);
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 0 0 10px 10px;
        background-color: var(--background-color);
    }

    .nav-right-title {
        font-size: 20px;
        font-family: Varela-Round;
        opacity: 0.5;
    }

    .all-tags {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-top: 5px;

        .tag {
            width: 60%;
            display: flex;
            justify-content: center;
            border-bottom: 2px solid rgba($color: #000000, $alpha: 0.1);
            border-right: 2px solid rgba($color: #000000, $alpha: 0.1);
            border-left: 2px solid rgba($color: #000000, $alpha: 0.1);
            box-shadow: 0px 3px 3px rgba($color: #000000, $alpha: 0.2);
            border-radius: 0 0 10px 10px;
            margin-bottom: 20px;
            padding: 5px 12px;
            transition: .3s;

            .tag-link {
                font-size: 15px;
                font-family: Varela-Round;
            }

            &:hover {
                cursor: pointer;
                box-shadow: 0px 4px 5px rgba($color: #000000, $alpha: 0.5);
            }
        }
    }
}

.template-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: calc(100% - 515px);
    left: 270px;
    padding: 20px;
}


// A COPIER COLLER DANS STYLE.SCSS PLUS TARD //

.center-page {
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.blur-underlay {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(2px) ;
}

.container {
    width: 425px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    box-shadow: 0px 8px 8px rgba($color: #000000, $alpha: 0.5);

    .login {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        margin: 20px;

        .login-title {
            font-size: 30px;
            font-family: Varela-Round;
            margin-bottom: 20px;
        }

        .input-fields {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            label {
                display: none;
            }

            .input {
                width: calc(75% - 20px);
                height: 20px;
                margin-bottom: 20px;
                padding: 10px;
                outline: none;
                appearance: none;
                font-family: Varela-Round;

                &:focus {
                    box-shadow: 0px 3px 3px rgba($color: #000000, $alpha: 0.3);
                }
            }
        }

        .submit {
            width: 75%;
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 10px;

            .classic-link {
                font-family: Varela-Round;
                font-size: 10px;
                margin-top: 20px;
                align-self: flex-start;
                font-style: italic;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .button {
                width: 100%;
                height: 40px;

                font-family: Varela-Round;
                font-weight: 500;
                font-size: 17px;

                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 3px 3px rgba($color: #000000, $alpha: 0.3);
                }
            }
        }
    }

    .separation {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .line {
            width: 40%;
            height: 1px;
            background-color: rgba($color: #000000, $alpha: 0.2);
        }

        .or {
            font-family: Varela-Round;
            font-size: 15px;
            margin-left: 10px;
            margin-right: 10px;
            opacity: 0.5;
        }
    }

    .switch {
        width: 75%;
        height: 40px;

        margin-top: 25px;
        margin-bottom: 25px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: Varela-Round;
        font-weight: 500;
        font-size: 17px;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 3px 3px rgba($color: #000000, $alpha: 0.3);
        }
    }
}

.bottom-outset {
    margin-bottom: 30px !important;
}

.top-outset {
    margin-top: 30px !important;
}

textarea.description {
    height: 200px !important;
    resize: none;
    scrollbar-width: thin;
}