{{define "category-create"}}
 <div class="blur-underlay"></div>

    <div class="center-page">
        <div class="container borders">
            <form class="login">
                <p class="login-title bottom-outset"> Create Category </p>
                
                <div class="input-fields">
                    <label for="title"></label>
                    <input class="input borders" type="text" placeholder="Name of the category" id="categoryname">


                </div>
                
                <button type="submit" class="switch borders"> Create </button>
            </form>
    
        </div>
    </div>
    {{end}}