{{define "forgot-password"}}
<div class="blur-underlay"></div>

    <div class="center-page">
        <div class="container borders">
            <form method="post" action="/forgot-password" class="login">
                <p class="login-title bottom-outset"> Recover Account </p>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                
                <div class="input-fields">
                    <label for="mail"></label>
                    <input class="input borders" type="text" name="email" placeholder="Mail Address" id="mail" autofocus required>
                </div>
                
                <div class="submit">
                    <button class="button borders" type="submit"> Send </button>
                </div>
            </form>
    
            <div class="separation"> 
                <div class="line"></div>
                <p class="or"> AND </p>
                <div class="line"></div>
            </div>
    
            <a href="/login" class="switch borders"> Login </a>
        </div>
    </div>
{{end}}