<div class="blur-underlay"></div>

    <div class="center-page">
        <div class="container borders">
            <form class="login">
                <p class="login-title bottom-outset"> Login </p>
    
                <div class="input-fields">
                    <label for="mail"> Username </label>
                    <input class="input borders" type="text" placeholder="Mail Address" id="mail">
        
                    <label for="password"> Password </label>
                    <input class="input borders" type="password" placeholder="Password" id="password">
                </div>
    
                <div class="submit">
                    <a class="classic-link"> Forgot password ? </a>
                    <button class="button borders" type="submit"> Submit </button>
                </div>
            </form>
    
            <div class="separation"> 
                <div class="line"></div>
                <p class="or"> OR </p>
                <div class="line"></div>
            </div>
    
            <a class="switch borders"> Register </a>
        </div>
    </div>