<div class="blur-underlay"></div>

    <div class="center-page">
        <div class="container borders">
            <form class="login">
                <p class="login-title bottom-outset"> Update Password </p>
                
                <div class="input-fields">
                    <label for="new-password"></label>
                    <input class="input borders" type="password" placeholder="New Password" id="new-password">
                    
                    <label for="confirm-new-password"></label>
                    <input class="input borders" type="password" placeholder="Confirm New Password" id="confirm-new-password">
                </div>
                
                <div class="submit">
                    <button class="button borders top-outset" type="submit"> Confirm </button>
                </div>
            </form>
        </div>
    </div>