<div class="blur-underlay"></div>

    <div class="center-page">
        <div class="container borders">
            <form class="login">
                <p class="login-title bottom-outset"> Register </p>
                
                <div class="input-fields">
                    <label for="mail"></label>
                    <input class="input borders bottom-outset" type="text" placeholder="Mail Address" id="mail">
                    
                    <label for="password"></label>
                    <input class="input borders" type="password" placeholder="Password" id="password">

                    <label for="confirm-password"></label>
                    <input class="input borders" type="password" placeholder="Confirm Password" id="confirm-pasword">
                </div>
                
                <div class="submit">
                    <button class="button borders top-outset" type="submit"> Register </button>
                </div>
            </form>
    
            <div class="separation"> 
                <div class="line"></div>
                <p class="or"> OR </p>
                <div class="line"></div>
            </div>
    
            <a class="switch borders"> Login </a>
        </div>
    </div>