{{define "reset-password"}}
<div class="blur-underlay"></div>

    <div class="center-page">
        <div class="container borders">
            <form method="post" action="/reset-password" class="login">
                <p class="login-title bottom-outset"> Update Password </p>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                
                <div class="input-fields">
                    <label for="new-password"></label>
                    <input class="input borders" type="password" name="new_password" placeholder="New Password" id="new-password" autofocus required>
                    
                    <label for="confirm-new-password"></label>
                    <input class="input borders" type="password" name="confirm_password" placeholder="Confirm New Password" id="confirm-new-password" required>
                </div>
                
                <div class="submit">
                    <button class="button borders top-outset" type="submit"> Confirm </button>
                </div>
            </form>
        </div>
    </div>
{{end}}