{{define "subject"}}Threadive - Forgotten password{{end}}

{{define "plainBody"}}
Hi {{.username}},

It seems you forgot the password of your Threadive account :(

Please follow the link to update your password:

http://localhost:4000/reset-password/{{.token}}

Please note that this is a one-time use opportunity, and it will expire in 24 hours.

Thanks,

The Threadive Team
{{end}}

{{define "htmlBody"}}
<div>
    <p>Hi {{.username}},</p>
    <p>It seems you forgot the password of your Threadive account :(</p>
    <p>Please follow the link to update your password:</p>
    <p><a href="http://localhost:4000/reset-password/{{.token}}">Update your password</a></p>
    <p>Please note that this is a one-time use opportunity, and it will expire in 24 hours.</p>
    <p>Thanks,</p>
    <p>The Threadive Team</p>
</div>
{{end}}