{{define "subject"}}Threadive - Forgotten password{{end}}

{{define "plainBody"}}
Hi {{.username}},

It seems you forgot the password of your Threadive account :(

Please send a request to the `POST /v1/users/update-password` endpoint with the following JSON body to update your password:

{"token": "{{.token}}"}

Please note that this is a one-time use token, and it will expire in 24 hours.

Thanks,

The Threadive Team
{{end}}

{{define "htmlBody"}}
<div>
    <p>Hi {{.username}},</p>
    <p>It seems you forgot the password of your Threadive account :(</p>
    <p>Please send a request to the <code>POST /v1/users/update-password</code> endpoint with the following JSON body to update your password:</p>
    <p>
        <code>
            {"token": "{{.token}}"}
        </code>
    </p>
    <p>Please note that this is a one-time use token, and it will expire in 24 hours.</p>
    <p>Thanks,</p>
    <p>The Threadive Team</p>
</div>
{{end}}