{{define "subject"}}Welcome to Threadive!{{end}}

{{define "plainBody"}}
Hi,

Thanks for signing up for a Threadive account. We're excited to have you on board!

For future reference, your user ID number is {{.userID}}.

Please follow the following link to activate your account:

http://localhost:4000/confirm/{{.activationToken}}

Please note that this is a one-time use opportunity, and it will expire in 3 days.

After this delay, if you don't activate your account, it will be removed.

Thanks,

The Threadive Team
{{end}}

{{define "htmlBody"}}
<div>
    <p>Hi,</p>
    <p>Thanks for signing up for a Threadive account. We're excited to have you on board!</p>
    <p>For future reference, your user ID number is {{.userID}}.</p>
    <p>Please follow the following link to activate your account:</p>
    <p><a href="http://localhost:4000/confirm/{{.activationToken}}">Activate your account</a></p>
    <p>Please note that this is a one-time use opportunity, and it will expire in 3 days.</p>
    <p>After this delay, if you don't activate your account, it will be removed.</p>
    <p>Thanks,</p>
    <p>The Threadive Team</p>
</div>
{{end}}