<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Header </title>
    <link rel="stylesheet" href="../assets/css/base.css">
</head>
<body>
    <header>
        <div class="logo-searchbar">
            <img class="logo" src="../assets/img//logo/logo_transparent.png" alt="logo">
            <form class="search">
                <input class="searchbar" type="searchbar" placeholder="Search for a category, a thread ...">
                <img class="search-icon" src="../assets/img/icons/search-icon.svg">
            </form>
        </div>
        <div class="notification-profile">
            <img class="notification-icon" src="../assets/img/icons/notification-icon.svg">
            <div class="profile">
                <div class="profile-picture"></div>
                <img class="profile-icon" src="../assets/img/icons/down-arrow-icon.svg"></img>
            </div>
        </div>
    </header>
</body>
</html>