<div class="container-dashboard">
    <h4 class="dashboard-title"> Dashboard </h4>
    <div class="container-profile-friendsrequest">
        <div class="container-profile borders">
            <div class="profilte-picture-name">
                <div class="pic">
                    <img class="camera" src="../assets/img/icons/camera-icon.svg">
                </div>
                <div class="text-profile">
                    <h4> Bruno Saltor </h4> <!--{{ Nom de l'utilisateur }}-->
                    <h5> Administrator</h5> <!--{{ Role de l'utilisateur}}-->
                </div>
            </div>
            <div class="profil-post">
                <div class="container-colonne">
                    <h4> Member Since </h4>
                    <h5> 10/05/22 </h5> <!--{{ Date d'inscription }}-->
                </div>
                <div class="container-colonne">
                    <h4> Post </h4>
                    <h5> 16 </h5> <!--{{ Nombre de post }}-->
                </div>
                <div class="container-colonne">
                    <h4> Friends </h4>
                    <h5> 5 </h5> <!--{{ Nom d'amis }}-->
                </div>
            </div>
        </div>
        <div class="container-friends-request borders">
            <h4> Friend Requests </h4>
            <div class="container-row">

                <!--{{ Range friend requests }}-->
                <div class="container-requests">
                    <div class="pic-friends"></div> <!--{{ Image de l'utilisateur qui a envoyé la demande }}-->
                    <div class="container-colonne-amis">
                        <h5> Jean-Mi</h5> <!--{{ Nom de l'utilisateur qui a envoyé la demande  }}-->
                        <div class="accepte-refuse">
                            <img src="../assets/img/icons/check-icon.svg">
                            <img src="../assets/img/icons/close-icon.svg">
                        </div>
                    </div>
                </div>
                <!--{{ end range }}-->

            </div>
        </div>
    </div>
    <section class="container-row">
        <div class="container-mythread borders">
            <h4> My Thread </h4>

            <!--{{ range my threads }}-->
            <div class="mythread borders borders-hover">
                <img src="../assets/img/icons/greenfolder.svg">
                <!--{{folder vert si ouvert, jaune si terminé et rouge si fermé }}-->
                <div class="text">
                    <h3> Aide Golang ! </h3> <!--{{ Titre du thread}}-->
                </div>
            </div>
            <!--{{ end range }}-->

        </div>
        <div class="friends-container borders">
            <h4> Friends </h4>
            
            <!--{{ range friends }}-->
            <div class="friends">
                <div class="pic-friends"></div> <!--{{ Image de l'ami }}-->
                <h5> Lucas </h5> <!--{{ Nom de l'ami }}-->
            </div>
            <!--{{ end range }}-->

        </div>
    </section>
    <section class="container-row">
        <div class="container-last-user borders">
            <h4> Last User </h4>

            <!--{{ range derniers utilisateurs (?) }}-->
            <div class="last-user borders borders-hover">
                <h5> Jean-Mi </h5> <!--{{ nom de l'user inscrit }}-->
            </div>
            <!--{{ end range }}-->

        </div>
        <div class="container-last-user borders">
            <h4> Last Categories </h4>

            <!--{{ range dernieres categories }}-->
            <div class="last-user borders borders-hover">
                <h5> Golang </h5> <!--{{ Nom de la catégorie }}-->
            </div>
            <!--{{ end range }}-->
            
        </div>

        <div class="container-last-user borders">
            <h4> Last Tags </h4>
            
            <!--{{ range derniers tags }}-->
            <div class="last-user borders borders-hover">
                <h5> Golang </h5> <!--{{ Tags }}-->
            </div>
            <!--{{ end range }}-->

        </div>
    </section>
    <div class="container-last-thread borders">
        <h4> Last Threads </h4>
        
        <!--{{ range last threads }}-->
        <div class="lastthread borders borders-hover">
            <img src="../assets/img/icons/greenfolder.svg">
            <!--{{folder vert si ouvert, jaune si terminé et rouge si fermé }}-->
            <div class="text">
                <h3> Aide Golang ! </h3> <!--{{ Titre du thread }}-->
                <h5> Bruno Saltor </h5> <!--{{ Auteur du thread }}-->
                <p> 09:27:56</p> <!--{{ Date de création }}-->
            </div>
        </div>
        <!--{{ end range }}-->

    </div>

</div>