{{define "page"}}
<div class="container-accueil">
    <div class="container-accueil-text">
        <h3> Welcome to Threadive</h3>
        <p> Meet our tech community and exchange your knowledge with it ! </p>
    </div>

    <div class="container-accueil-content borders">
        <h4> Hot topics </h4> 

        {{ range .PopularThreads }}
        <div class="container-hottopic borders borders-hover">
            {{/* folder vert si ouvert, jaune si terminé et rouge si fermé */}}
            <img src="/static/img/icons/greenfolder.svg">
            <div class="container-thread-text relative">
                <h3> {{.Title}} </h3>
                <h5> {{.Author.Name}} </h5>
                <p> {{humanDate .CreatedAt}} </p>
                <a href="/thread/{{.ID}}" class="thread-link abs full on-top"></a>
            </div>
        </div>
        {{ end }}

    </div>
    <div class="container-accueil-content borders">
        <h4> Category </h4>
        <div class="container-category">
            {{/* Categories qui vont être affichés sur l'accueil du site */}}
            {{range .CategoryList.List}}
            <div class="rectangle-category borders borders-hover relative">
                <img src="/static/img/icons/tech-icon.svg">
                <h5> {{.Name}} </h5>
                <a href="/category/{{.ID}}" class="category-link abs full on-top"></a>
            </div>
            {{end}}
            {{/* fin des categories */}}

        </div>
    </div>
    {{if .IsAuthenticated}}
        <div class="container-accueil-content borders">
            <h4> Followed Thread </h4>

            {{range .User.FavoriteThreads}}
            <div class="container-hottopic borders borders-hover">
                <img src="/static/img/icons/greenfolder.svg">
                <div class="container-thread-text relative">
                    <a href="/thread/{{.ID}}" class="thread-link"></a>
                    <h3> {{.Title}} </h3>
                    <h5>  </h5> {{/* auteur */}}
                    <p> 09:27:56</p> {{/* date de création */}}
                    <a href="/thread/{{.ID}}" class="thread-link abs full on-top"></a>
                </div>
            </div>
            {{end}}

        </div>
        <div class="container-accueil-content borders">
            <h4> Fav Tag </h4>
            <div class="container-favtag">

                {{range .User.FollowingTags}}
                <div class="favtag borders borders-hover relative">
                    <h5> {{.Name}} </h5>
                    <a href="/tag/{{.ID}}" class="tag-link abs full on-top"></a>
                </div>
                {{end}}

            </div>
        </div>
    {{end}}
</div>
{{end}}