 <div class="container-inthread">
          <!--{{ Tous les posts du thread concerné }}-->
        <h4> J'apprends le Latin </h4>  <!--{{ Titre du thread }}-->
        <div class="container-search-filter">
            <input class="search-liste" placeholder="Search in the category"> <img class="search-icon" src="../assets/img/icons/search-icon.svg">
            <p> Filter </p>
        </div>
        <div class="container-post">
            <div class="first-line"> 
                <img src="../assets/img/icons/circle-icon.svg"> 
                <h3> Bruno Saltor </h3>  <!--{{ Auteur du post }}-->
                <p> 24/06/2024 à 9h01 </p>  <!--{{ Date du post}}-->
                <img class="img-inthread" src="../assets/img/icons/fav-icon.svg">
                <img class="img-inthread"src="../assets/img/icons/réponse-icon.svg">
            </div>
            <div class="second-line">
                <p>  <!--{{ Contenu du post }}--> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            </div>
            <div class="third-line">
                 <!--{{ Emojis possibilité d'en choisir 1  }}-->
                <img  class="emoji" src="../assets/img/icons/emoji-neutral-icon.svg">
                <img  class="emoji" src="../assets/img/icons/emoji-rigole2-icon.svg">
                <img  class="emoji" src="../assets/img/icons/emoji-applause-icon.svg">
                <img class="emoji" src="../assets/img/icons/emoji-coeur-icon.svg">
                 <!--{{ Fin des emojis }}-->
            </div>
    </div>
    <div class="container-response"> 
         <!--{{ Répondre à la suite }}-->
       <input placeholder="Type your response here ...">
       <img src="../assets/img/icons/response-icon.svg">
    </div>
    <div class="pagination-container">
        <div class="pagination">
             <!--{{ Pagination}}-->
            <img src="../assets/img/icons/arrow-left-icon.svg">
            <p> 1 2 3 4 5 </p>
            <img src="../assets/img/icons/arrow-right-icon.svg">
        </div>
    </div>
    </div>