 <div class="container-liste">
        <h4> Golang   <!--{{ Catégories où l'utilisateur est }}--></h4> 
    <div class="container-search-filter">
        <input class="search-liste" placeholder="Search in the category"> <img class="search-icon" src="../assets/img/icons/search-icon.svg">
        <p> Filter </p>
    </div>
    <img class="newfolder"src="../assets/img/icons/newfolder-icon.svg">
    <div class="container-liste-thread">
         <!--{{ Tous les threads de la catégorie }}-->
        <div class="container-thread borders borders-hover"> 
            <img src="../assets/img/icons/greenfolder.svg"> <!--{{folder vert si ouvert, jaune si terminé et rouge si fermé }}-->
            <div class="container-thread-text-liste">
            <h3> Aide Golang !  <!--{{ Titre du thread }}--> </h3>
            <h5> Bruno Saltor <!--{{ Auteur du thread }}--> </h5>
            <p> 09:27:56 <!--{{ Création du thread }}--></p>
            </div>
        </div>
        <div class="container-thread borders borders-hover"> 
            <img src="../assets/img/icons/redfolder-icon.svg">
            <div class="container-thread-text-liste">
            <h3> Aide Golang ! </h3>
            <h5> Bruno Saltor </h5>
            <p> 09:27:56</p>
            </div>
        </div>
        <div class="container-thread borders borders-hover"> 
            <img src="../assets/img/icons/yellowfolder-icon.svg">
            <div class="container-thread-text-liste">
            <h3> Aide Golang ! </h3>
            <h5> Bruno Saltor </h5>
            <p> 09:27:56</p>
            </div>
        </div>
        <!--{{ Fin des threads de la catégorie }}-->
        </div>
    </div>
</div>