{{define "page"}}
<div class="container-mentions">
        <h2> Content Policy </h2>
        <p> Welcome to our fun forum! We're thrilled to have you here. Before actively participating in our community, please review our rules and policies below. </p> 
        <h3> Legal Notice </h3> 
        <p>This site is operated by Threadive. By accessing and using this forum, you agree to comply with the terms outlined in this content policy.</p>  
        <h3> Privacy Policy </h3>
        <p> We are committed to protecting your privacy. Our privacy policy details how we collect, use, and safeguard your personal information. By using this forum, you consent to our use of your information in accordance with our privacy policy.</p>
        <h3> Rules </h3>
        <p>  1 - Mutual Respect: All members must treat others with respect, even in disagreement. Insults, harassment, or any form of harmful behavior will not be tolerated. </p>
        <p>  2 - Appropriate Content: Ensure that the content you share is suitable for all ages. Avoid offensive, obscene, or illegal content.</p>
        <p>  3 - No Spam: Excessive promotion of products or services is prohibited. Repetitive or irrelevant messages will be removed.</p>
        <p>  4 - Intellectual Property: Respect copyrights and trademarks. Do not share content for which you do not have the rights or permission to distribute.</p>
        <p>  5 - Security: Do not share sensitive personal information, such as passwords or financial information, on the forum. Protect your own online security.</p>
        <p>  6 - Abuse Reporting: If you encounter inappropriate content or witness abusive behavior, please report it to the moderation team immediately.</p>
        <p>  7 - Moderation: The moderation team reserves the right to remove any content in violation of these rules or deemed inappropriate, as well as to take disciplinary action against offending members.</p>
        <p> By participating in our forum, you agree to abide by these rules and policies. We reserve the right to modify these rules at any time, so please check back regularly to stay informed of updates.</p>
        <p> Remember to tailor these examples to your specific website and consult with a legal professional to ensure your content policy complies with applicable laws in your region.</p>
    </div>
{{end}}