{{define "page"}}
    <div class="container-search">
        <div class="container-your-search">
            <p> Thread For </p> <div class="your-search"> GOLANG  <!--{{/* Recherche de l'utilisateur */}}--></div>
        </div>
        <div class="container-search-content">
            <!--{{/* Tous les threads via la recherche  */}}-->
            <div class="search-thread borders borders-hover">
                <img src="/static/img/icons/greenfolder.svg">  <!-- folder vert si ouvert, jaune si terminé et rouge si fermé -->
                <div class="search-text">
                    <h3> Aide Golang ! <!--{{/* Titre du thread */}}--></h3>
                    <h4> Bruno Saltor <!--{{/* Auteur du thread */}}--></h4>
                    <p> 09:27:56 <!--{{/* Date du thread */}}--></p>
                </div>
            </div>
            <div class="search-thread borders borders-hover">
                <img src="/static/img/icons/greenfolder.svg">
                <div class="search-text">
                    <h3> Aide Golang ! </h3>
                    <h4> Bruno Saltor </h4>
                    <p> 09:27:56</p>
                </div>
            </div>
            <div class="search-thread borders borders-hover">
                <img src="/static/img/icons/greenfolder.svg">
                <div class="search-text">
                    <h3> Aide Golang ! </h3>
                    <h4> Bruno Saltor </h4>
                    <p> 09:27:56</p>
                </div>
                <!--{{/* Fin des threads */}}-->
            </div>
        </div>
        <section class="container-row">
            <div class="container-search-category">
                <div class="container-your-search">
                    <p> Category For </p> <div class="your-search"> GOLANG  <!--{{/* recherche  */}}--></div>
                </div>
                <!--{{/* Toutes les catégories via recherche */}}-->
                <div class="container-spe-category">
                    <h5> Golang </h5> <!--{{/* Category */}}-->
                </div>
                <div class="container-spe-category">
                    <h5> Go </h5>
                </div>
                <div class="container-spe-category">
                    <h5> Golang </h5>
                </div>
                <!--{{/* Fin des catégories */}}-->
            </div>
            <div class="container-tags-search">
                <div class="container-your-search">
                    <p> Tags For </p> <div class="your-search"> GOLANG <!--{{/* recherche  */}}--></div>
                </div>
                <!--{{/* Tous les tags via recherche */}}-->
                <div class="container-spe-category">
                    <h5> Golang </h5> <!--{{/* Tag */}}-->
                </div>
            </div>
        </section>
    </div>
{{end}}