<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Base </title>
    <link rel="stylesheet" href="../assets/css/base.css">
</head>

<body>
    
    <div class="blur-underlay"></div>

    <div class="center-page">
        <div class="container borders">
            <form class="login">
                <p class="login-title bottom-outset"> Create Thread </p>
                
                <div class="input-fields">
                    <label for="title"></label>
                    <input class="input borders" type="text" placeholder="Title" id="title">

                    <label for="description"></label>
                    <textarea class="description input borders" placeholder="Description" id="description" rows="3" maxlength="500"></textarea>
                </div>
                
            </form>
    
            <a class="switch borders"> Create </a>
        </div>
    </div>

</body>

</html>