<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dashboard </title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<header>
    <div class="logo-searchbar">
        <img class="logo" src="../assets/img//logo/logo_transparent.png" alt="logo">
        <form class="search">
            <input class="searchbar" type="searchbar" placeholder="Search for a category, a thread ...">
            <img class="search-icon" src="../assets/img/icons/search-icon.svg">
        </form>
    </div>
    <div class="notification-profile">
        <img class="notification-icon" src="../assets/img/icons/notification-icon.svg">
        <div class="profile">
            <div class="profile-picture"></div>
            <img class="profile-icon" src="../assets/img/icons/down-arrow-icon.svg"></img>
        </div>
    </div>
</header>
<body>
    <section class="container-dashboard-row">
    <div class="nav-left">
        <div class="profile">
            <div class="personal-info">
                <div class="profile-picture">
                    <div class="activity"></div>
                </div>
                <div class="name-rank">
                    <p> Poupi Poupo </p>
                    <p> Administrator </p>
                </div>
            </div>

            <div class="stats">
                <div class="member-since">
                    <p> Member since </p>
                    <p> 01/01/0001 </p>
                </div>

                <div class="posts">
                    <p> Post(s) </p>
                    <p> 100M </p>
                </div>
            </div>
        </div>

        <div class="page-link">
            <div class="link">
                <img class="link-icon" src="../assets/img/icons/home-icon.svg">
                <p class="link-text"> Home </p>
            </div>

            <div class="link">
                <img class="link-icon" src="../assets/img/icons/discover-icon.svg">
                <p class="link-text"> Discover </p>
            </div>

            <div class="link">
                <img class="link-icon" src="../assets/img/icons/friends-icon.svg">
                <p class="link-text"> Friends </p>
            </div>

            <div class="link">
                <img class="link-icon" src="../assets/img/icons/categories-icon.svg">
                <p class="link-text"> Categories </p>
                <img class="link-icon" src="../assets/img/icons/down-arrow-icon.svg">    
            </div>

            <div class="category-list">

                <div class="category">
                    <img class="category-icon" src="../assets/img/icons/hardware-icon.svg">
                    <p class="category-text"> Hardware </p>
                </div>

                <div class="category">
                    <img class="category-icon" src="../assets/img/icons/languages-icon.svg">
                    <p class="category-text"> Languages </p>
                </div>

                <div class="category">
                    <img class="category-icon" src="../assets/img/icons/tech-icon.svg">
                    <p class="category-text"> Tech </p>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="legal-notice">
                <img class="legal-notice-icon" src="../assets/img/icons/legal-notice-icon.svg">
                <p class="legal-notice-text"> Legal Notice </p>
            </div>

            <div class="privacy-policy">
                <img class="privacy-policy-icon" src="../assets/img/icons/privacy-policy-icon.svg">
                <p class="privacy-policy-text"> Privacy Policy </p>
            </div>

            <div class="rules">
                <img class="rules-icon" src="../assets/img/icons/rules-icon.svg">
                <p class="rules-text"> Rules </p>
            </div>

            <p> Threadive, inc © 2024 - All rights reserved </p>
        </div>
    </div>
    <div class="container-dashboard">
        <h4> Dashboard </h4>
        <div class="container-profile-friendsrequest">
            <div class="container-profile">
                <div class="profilte-picture-name">
            <div class="pic">
                <img class="camera"src="../assets/img/icons/camera-icon.svg">
            </div>
            <div class="text-profile">
            <h4> Bruno Saltor </h4>
            <h5> Administrator</h5>
            </div>
            </div>
            <div class="profil-post">
                <div class="container-colonne">
                <h4> Member Since </h4>
                <h5> 10/05/22 </h5>
                </div>
                <div class="container-colonne">
                <h4> Post </h4>
                <h5> 16 </h5>
                    </div>
                <div class="container-colonne">
                <h4> Friends </h4>
                <h5> 5 </h5>
                </div>
            </div>
        </div>
        <div class="container-friends-request">
            <h4> Friend Requests </h4>  
            <div class="container-row">

                <div class="container-requests">
                <div class="pic-friends"></div>
                <div class="container-colonne-amis">
              
                <h5> Jean-Mi</h5>
                <div class="accepte-refuse">
                <img src="../assets/img/icons/check-icon.svg">
                <img src="../assets/img/icons/close-icon.svg">
                </div>
            </div>
            </div>

            <div class="container-requests">
                <div class="pic-friends"></div>
                <div class="container-colonne-amis">
              
                <h5> Jean-Mi</h5>
                <div class="accepte-refuse">
                <img src="../assets/img/icons/check-icon.svg">
                <img src="../assets/img/icons/close-icon.svg">
                </div>
            </div>
            </div>

            <div class="container-requests">
                <div class="pic-friends"></div>
                <div class="container-colonne-amis">
              
                <h5> Jean-Mi</h5>
                <div class="accepte-refuse">
                <img src="../assets/img/icons/check-icon.svg">
                <img src="../assets/img/icons/close-icon.svg">
                </div>
            </div>
            </div>

            <div class="container-requests">
                <div class="pic-friends"></div>
                <div class="container-colonne-amis">
              
                <h5> Jean-Mi</h5>
                <div class="accepte-refuse">
                <img src="../assets/img/icons/check-icon.svg">
                <img src="../assets/img/icons/close-icon.svg">
                </div>
            </div>
            </div>

        </div>
        </div>
    </div>
    <section class="container-row">
    <div class="container-mythread"> 
        <h4> My Thread </h4>
        <div class="mythread">
            <img src="../assets/img/icons/greenfolder.svg">
            <div class="text">
            <h3> Aide Golang ! </h3>
            </div>
        </div>

        <div class="mythread">
            <img src="../assets/img/icons/greenfolder.svg">
            <div class="text">
            <h3> Aide Golang ! </h3>
            </div>
        </div>

        <div class="mythread">
            <img src="../assets/img/icons/greenfolder.svg">
            <div class="text">
            <h3> Aide Golang ! </h3>
            </div>
        </div>
        </div>
        <div class="friends-container">
            <h4> Friends </h4>
            <div class="friends">
                <div class="pic-friends"></div>
                <h5> Lucas </h5>
        </div>

        <div class="friends">
            <div class="pic-friends"></div>
            <h5> Lucas test nom de famille bien longgg </h5>
        </div>
        </div>
        </section>
        <section class="container-row">
            <div class="container-last-user">
                <h4> Last User </h4>
                <div class="last-user">
                    <h5> Jean-Mi </h5>
                </div>

                <div class="last-user">
                    <h5> XLucasX </h5>
                </div>

                <div class="last-user">
                    <h5> Alan  </h5>
                </div>
            </div>
            <div class="container-last-user">
                <h4> Last Categories </h4>
                <div class="last-user">
                    <h5> Golang </h5>
                </div>
            </div>

            <div class="container-last-user">
                <h4> Last Tags </h4>
                <div class="last-user">
                    <h5> Golang </h5>
                </div>
                <div class="last-user">
                    <h5> Apple </h5>
                </div>
                <div class="last-user">
                    <h5> Linux </h5>
                </div>
            </div>
        </section>
        <div class="container-last-thread">
            <h4> Last Threads </h4>
                <div class="lastthread">
                    <img src="../assets/img/icons/greenfolder.svg">
                    <div class="text">
                    <h3> Aide Golang ! </h3>
                    <h5> Bruno Saltor </h5>
                    <p> 09:27:56</p>
                    </div>
                </div>
        </div>

    </div>
</section>
</body>