<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> InThread </title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<header>
    <div class="logo-searchbar">
        <img class="logo" src="../assets/img//logo/logo_transparent.png" alt="logo">
        <form class="search">
            <input class="searchbar" type="searchbar" placeholder="Search for a category, a thread ...">
            <img class="search-icon" src="../assets/img/icons/search-icon.svg">
        </form>
    </div>
    <div class="notification-profile">
        <img class="notification-icon" src="../assets/img/icons/notification-icon.svg">
        <div class="profile">
            <div class="profile-picture"></div>
            <img class="profile-icon" src="../assets/img/icons/down-arrow-icon.svg"></img>
        </div>
    </div>
</header>
<body>
    <section class="container-inthread-row">
    <div class="nav-left">
        <div class="profile">
            <div class="personal-info">
                <div class="profile-picture">
                    <div class="activity"></div>
                </div>
                <div class="name-rank">
                    <p> Poupi Poupo </p>
                    <p> Administrator </p>
                </div>
            </div>

            <div class="stats">
                <div class="member-since">
                    <p> Member since </p>
                    <p> 01/01/0001 </p>
                </div>

                <div class="posts">
                    <p> Post(s) </p>
                    <p> 100M </p>
                </div>
            </div>
        </div>

        <div class="page-link">
            <div class="link">
                <img class="link-icon" src="../assets/img/icons/home-icon.svg">
                <p class="link-text"> Home </p>
            </div>

            <div class="link">
                <img class="link-icon" src="../assets/img/icons/discover-icon.svg">
                <p class="link-text"> Discover </p>
            </div>

            <div class="link">
                <img class="link-icon" src="../assets/img/icons/friends-icon.svg">
                <p class="link-text"> Friends </p>
            </div>

            <div class="link">
                <img class="link-icon" src="../assets/img/icons/categories-icon.svg">
                <p class="link-text"> Categories </p>
                <img class="link-icon" src="../assets/img/icons/down-arrow-icon.svg">    
            </div>

            <div class="category-list">

                <div class="category">
                    <img class="category-icon" src="../assets/img/icons/hardware-icon.svg">
                    <p class="category-text"> Hardware </p>
                </div>

                <div class="category">
                    <img class="category-icon" src="../assets/img/icons/languages-icon.svg">
                    <p class="category-text"> Languages </p>
                </div>

                <div class="category">
                    <img class="category-icon" src="../assets/img/icons/tech-icon.svg">
                    <p class="category-text"> Tech </p>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="legal-notice">
                <img class="legal-notice-icon" src="../assets/img/icons/legal-notice-icon.svg">
                <p class="legal-notice-text"> Legal Notice </p>
            </div>

            <div class="privacy-policy">
                <img class="privacy-policy-icon" src="../assets/img/icons/privacy-policy-icon.svg">
                <p class="privacy-policy-text"> Privacy Policy </p>
            </div>

            <div class="rules">
                <img class="rules-icon" src="../assets/img/icons/rules-icon.svg">
                <p class="rules-text"> Rules </p>
            </div>

            <p> Threadive, inc © 2024 - All rights reserved </p>
        </div>
    </div>
    <div class="container-inthread">
        <h4> J'apprends le Latin </h4>
        <div class="container-search-filter">
            <input class="search-liste" placeholder="Search in the category"> <img class="search-icon" src="../assets/img/icons/search-icon.svg">
            <p> Filter </p>
        </div>
        <div class="container-post">
            <div class="first-line"> 
                <img src="../assets/img/icons/circle-icon.svg"> 
                <h3> Bruno Saltor </h3>
                <p> 24/06/2024 à 9h01 </p>
                <img class="img-inthread" src="../assets/img/icons/fav-icon.svg">
                <img class="img-inthread"src="../assets/img/icons/réponse-icon.svg">
            </div>
            <div class="second-line">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            </div>
            <div class="third-line">
                <img  class="emoji" src="../assets/img/icons/emoji-neutral-icon.svg">
                <img  class="emoji" src="../assets/img/icons/emoji-rigole2-icon.svg">
                <img  class="emoji" src="../assets/img/icons/emoji-applause-icon.svg">
                <img class="emoji" src="../assets/img/icons/emoji-coeur-icon.svg">
            </div>
    </div>
    <div class="container-response"> 
       <input placeholder="Type your response here ...">
       <img src="../assets/img/icons/response-icon.svg">
    </div>
    <div class="pagination-container">
        <div class="pagination">
            <img src="../assets/img/icons/arrow-left-icon.svg">
            <p> 1 2 3 4 5 </p>
            <img src="../assets/img/icons/arrow-right-icon.svg">
        </div>
    </div>
</section>
</body>