<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Base </title>
    <link rel="stylesheet" href="../assets/css/base.css">
</head>
<body>

    <div class="login-container">
        <div class="login borders">
            <p class="login-title"> Login </p>
            
            <form class="formulaire">
                
                <label for="mail"></label>
                <input class="login-input borders" type="text" placeholder="Mail Address" id="mail">
    
                <label for="pwd"></label>
                <input class="login-input borders" type="password" placeholder="Password" id="pwd">
    
                <div class="login-button">
                    <a class="forgot"> Forgot Password ? </a>
                    <button class="submit borders" type="submit"> Login </button>
                </div>
            
            </form>
    
            <div class="separation">
                <div class="line"></div><p class="or"> OR </p><div class="line"></div>
            </div>
            <div class="register">
                <button class="submit borders" type="submit"> Register </button>
            </div>
        </div>
    </div>

</body>
</html>