<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav-right">
        <div class="nav-right-container borders">
            <p class="nav-right-title"> Popular tags </p>
            <div class="all-tags">
                <div class="tag">
                    <a class="tag-link"> apple </a>
                </div>
                <div class="tag">
                    <a class="tag-link"> json </a>
                </div>
                <div class="tag">
                    <a class="tag-link"> javascript </a>
                </div>
                <div class="tag">
                    <a class="tag-link"> android </a>
                </div>
                <div class="tag">
                    <a class="tag-link"> cpu </a>
                </div>
                <div class="tag">
                    <a class="tag-link"> arrays </a>
                </div>
                <div class="tag">
                    <a class="tag-link"> mysql </a>
                </div>
                <div class="tag">
                    <a class="tag-link"> regex </a>
                </div>
                <div class="tag">
                    <a class="tag-link"> middleware </a>
                </div>
                <div class="tag">
                    <a class="tag-link"> wamp </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>