<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Base </title>
    <link rel="stylesheet" href="../assets/css/base.css">
</head>

<body>
    
    <div class="blur-underlay"></div>

    <div class="center-page">
        <div class="container borders">
            <form class="login">
                <p class="login-title bottom-outset"> Modify your post  </p>
                
                <div class="input-fields">
                    <label for="title"></label>
                    <input class="input borders" type="text" placeholder="Modify your post" id="categoryname" value="{{.Content}}">


                </div>
                
                <button type="submit" class="switch borders"> Change </button>
            </form>
    
        </div>
    </div>

</body>

</html>