<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Header </title>
    <link rel="stylesheet" href="../assets/css/base.css">
</head>
<body>


    <header>
        <div class="logo-searchbar">
            <img class="logo" src="../assets/img//logo/logo_transparent.png" alt="logo">
            <form class="search">
                <input class="searchbar" type="searchbar" placeholder="Search for a category, a thread ...">
                <img class="search-icon" src="../assets/img/icons/search-icon.svg">
            </form>
        </div>
        <div class="notification-profile">
            <img class="notification-icon" src="../assets/img/icons/notification-icon.svg">
            <div class="profile">
                <div class="profile-picture"></div> <!--{{ Photo de profil de l'utilisateur }}-->
                <div class="profile-icon-box">
                    <img class="profile-icon" src="../assets/img/icons/down-arrow-icon.svg">
                </div>
                <div class="dropdown">
                    <div class="item">
                        <img class="item-icon" src="../assets/img/icons/dashboard-icon.svg">
                        <p class="item-text"> Dashboard </p>
                    </div>
                    <div class="item">
                        <img class="item-icon" src="../assets/img/icons/disconnect-icon.svg">
                        <p class="item-text"> Disconnect </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="navs">
        <div class="nav-left">
            <div class="profile">
                <div class="personal-info">
                    <div class="profile-picture"> <!--{{ Photo de profil de l'utilisateur }}-->
                        <div class="activity"></div>
                    </div>
                    <div class="name-rank">
                        <p> Poupi Poupo </p> <!--{{ Nom de l'user }}-->
                        <p> Administrator </p> <!--{{ Role }}-->
                    </div>
                </div>
    
                <div class="stats">
                    <div class="member-since">
                        <p> Member since </p>
                        <p> 11/09/2001 </p> <!--{{ Date d'inscription  }}-->
                    </div>
    
                    <div class="posts">
                        <p> Post(s) </p>
                        <p> 69 </p> <!--{{ Nombre de post }}-->
                    </div>
                </div>
            </div>
    
            <div class="page-link borders">
                <div class="link">
                    <img class="link-icon" src="../assets/img/icons/home-icon.svg">
                    <p class="link-text"> Home </p>
                </div>
    
                <div class="link">
                    <img class="link-icon" src="../assets/img/icons/discover-icon.svg">
                    <p class="link-text"> Discover </p>
                </div>
    
                <div class="link">
                    <img class="link-icon" src="../assets/img/icons/friends-icon.svg">
                    <p class="link-text"> Friends </p>
                </div>
    
                <div data-list="list-of-categories-1" class="link has-list">
                    <img class="link-icon" src="../assets/img/icons/categories-icon.svg">
                    <p class="link-text"> Categories </p> <!--{{ Toutes les catégories à mettre dans le header  }}-->
                    <img class="link-icon" src="../assets/img/icons/down-arrow-icon.svg">
                </div>
    
                <div id="list-of-categories-1" class="category-list">
    
                    <div class="category">
                        <img class="category-icon" src="../assets/img/icons/hardware-icon.svg">
                        <p class="category-text"> Hardware </p> <!--{{ Category  }}-->
                    </div>
    
                    <div class="category">
                        <img class="category-icon" src="../assets/img/icons/languages-icon.svg">
                        <p class="category-text"> Languages </p> <!--{{ Category  }}-->
                    </div>
    
                    <div class="category">
                        <img class="category-icon" src="../assets/img/icons/tech-icon.svg">
                        <p class="category-text"> Tech </p> <!--{{ Category  }}-->
                    </div>
                    <!--{{ Fin des Categories  }}-->
                </div>
            </div>
    
            <div class="footer borders">
                <div class="footer-link">
                    <img class="footer-icon" src="../assets/img/icons/legal-notice-icon.svg">
                    <p class="footer-text"> Legal Notice </p>
                </div>
    
                <div class="footer-link">
                    <img class="footer-icon" src="../assets/img/icons/privacy-policy-icon.svg">
                    <p class="footer-text"> Privacy Policy </p>
                </div>
    
                <div class="footer-link">
                    <img class="footer-icon" src="../assets/img/icons/rules-icon.svg">
                    <p class="footer-text"> Rules </p>
                </div>
    
                <p class="rights"> Threadive, inc © 2024 - All rights reserved </p>
            </div>
        </div>  
    
        <div class="nav-right">
            <div class="nav-right-container borders">
                <p class="nav-right-title"> Popular tags </p>
                <div class="all-tags"> <!--{{ Popular Tags }}-->
                    <div class="tag">
                        <a class="tag-link"> apple </a> <!--{{ Nom tag }}-->
                    </div>
                    <div class="tag">
                        <a class="tag-link"> json </a><!--{{ Nom tag }}-->
                    </div>
                    <div class="tag">
                        <a class="tag-link"> javascript </a><!--{{ Nom tag }}-->
                    </div>
                    <div class="tag">
                        <a class="tag-link"> android </a><!--{{ Nom tag }}-->
                    </div>
                    <div class="tag">
                        <a class="tag-link"> cpu </a>
                    </div>
                    <div class="tag">
                        <a class="tag-link"> arrays </a>
                    </div>
                    <div class="tag">
                        <a class="tag-link"> mysql </a>
                    </div>
                    <div class="tag">
                        <a class="tag-link"> regex </a>
                    </div>
                    <div class="tag">
                        <a class="tag-link"> middleware </a>
                    </div>
                    <div class="tag">
                        <a class="tag-link"> wamp </a>
                    </div>
                    <!--{{ Fin des popular tags }}-->
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/test.js"></script>
</body>
</html>