export DB_HOST="localhost"
export DB_PORT="3306"
export DB_USER="apiuser"
export DB_PASSWORD="apiU5er"
export DB_DATABASE="testDB"
export DB_ARG="parseTime=true"
export DB_NETWORK="tcp"
export PORT=3000
export DB_DSN="apiuser:apiU5er@/testDB?parseTime=true"
export SMTP_SENDER="Threadive"
export SMTP_USERNAME="username"
export SMTP_PASS="Pa55word"
export SMTP_HOST="smtp-host"
export SMTP_PORT=2525
export API_HOST_SECRET="cmQOHF7e75Vvdg3M0UNPgrDRBM6yTnq5K2Tay13faUlKneQi3FtR8WO9XJi3RYPNrKWCnacvY51Xfrr4B4exnA"
