export DB_HOST="localhost"
export DB_PORT=:3306
export DB_USER="threadive"
export DB_PASSWORD=""
export DB_DATABASE="threadive"
export DB_ARG="parseTime=true"
export DB_NETWORK="tcp"
export PORT=3000
export DB_DSN="${DB_USER}:${DB_PASSWORD}@/${DB_DATABASE}?${DB_ARG}"
export SSH_PASS=""
export SMTP_USERNAME=""
export SMTP_PASS=""
export SMTP_HOST=""
export SMTP_PORT=2525
export API_HOST_SECRET=""